@{
    var data = await _adminService.GetFooter();
}

<section class="info_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_contact">
                    <h4>
                        @data.Title
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                @data.Address
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                @data.Phone
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                @data.Mail
                            </span>
                        </a>
                    </div>
                </div>
                <div class="info_social">
                    <a href="https://www.instagram.com/dinosoftturkiye/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.youtube.com/watch?v=MUiqU5uUqDA">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/dinosoft-turkiye/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info_link_box">
                </div>
            </div>
            <div class="col-md-2">
                <div class="info_detail">
                </div>
            </div>
            <div class="col-md-3 mb-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6122.341248759888!2d41.239323!3d39.892812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406e5ee734eb6785%3A0xe20561ff1eb2d169!2sATA%20Teknokent!5e0!3m2!1str!2str!4v1735412397266!5m2!1str!2str"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

<footer class="footer_section">
    <div class="container">
        <p>
            @data.BottomText
        </p>
    </div>
</footer>